{% extends "accueil.html" %}
{% block content %}
{% load static %}

<!--====== ABOUT PART ENDS ======-->

<div class="about-area pt-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div
          class="about-content mt-50 wow fadeInLeftBig"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <div class="section-title">
            <div class="line"></div>
            <h3 class="title">
              <span>(A.J.A-TOGO)</span> , NOTRE RÉCÉPISSÉ
  
            </h3>
          </div>
          <!-- section title -->
          <!-- <p class="text">
            Objectifs :
            (1). Promouvoir l'accès à la justice pour tous, en particulier les populations vulnérables, en identifiant et en résolvant les problèmes liés à l'accès à la justice ;
            (2). Sensibiliser les populations vulnérables sur leurs droits et obligations ;
            (3). Renforcer les capacités des acteurs du système judiciaire dans la protection des droits et intérêts des populations vulnérables ;
            (4). Favoriser une culture de la justice participative, de médiation et de règlement alternatif des conflits ;
            (6). Contribuer à la promotion de l’Etat de droit au Togo et dans la sous-région. 
            
            
            Principes :
            AJA-Togo promeut les principes de non-discrimination, de transparence, de responsabilité et d'équité. L'association est apolitique et respecte la diversité culturelle et religieuse.
          </p> -->
          <!-- <a href="javascript:void(0)" class="main-btn">Try it Free</a> -->
        </div>
        <!-- about content -->
      </div>
      <div class="col-lg-6">
        <div
          class="about-image text-center mt-50 wow fadeInRightBig"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <img src="{% static 'assets/images/about/YTH.jpg' %}" alt="about" />
        </div>
        <!-- about image -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
  <!-- <div class="about-shape-1">
    <img src="assets/images/about/about-shape-1.svg" alt="shape" />
  </div> -->
  </div>
  <!--====== ABOUT PART ENDS ======-->
<!--====== ABOUT PART START ======-->
<div class="about-area pt-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div
            class="about-content mt-50 wow fadeInLeftBig"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="section-title">
              <div class="line"></div>
              <h3 class="title">
                <span>(A.J.A-TOGO)</span> , QUI SOMMES-NOUS ?
              </h3>
            </div>
            <!-- section title -->
            <p class="text">
              L'Association Justice Accessible est une organisation à but non lucratif basée au Togo, qui vise à faciliter l'accès à la justice pour tous les citoyens togolais, en particulier les plus vulnérables et les plus marginalisés de la société.
  
              Fondée en 2016, l'Association Justice Accessible offre une gamme de services juridiques, y compris des conseils juridiques gratuits, des représentations juridiques, et des formations pour les avocats et les défenseurs des droits de l'homme sur les lois togolaises ainsi que les normes et pratiques internationales de droits de l'homme.
              
              L'organisation travaille en étroite collaboration avec d'autres organisations de la société civile, les organisations de droits de l'homme, et les institutions gouvernementales pour promouvoir l'égalité devant la loi, la protection des droits de l'homme et la responsabilité de l'État.
              
              En outre, l'Association Justice Accessible lutte contre la discrimination fondée sur le genre, l'origine ethnique, la religion, l'orientation sexuelle, et le statut socio-économique en offrant des services de conseils juridiques et de représentation aux personnes qui sont victimes de ces formes de discrimination.
              
            </p>
            <!-- <a href="javascript:void(0)" class="main-btn">Try it Free</a> -->
          </div>
          <!-- about content -->
        </div>
        <div class="col-lg-6">
          <div
            class="about-image text-center mt-50 wow fadeInRightBig"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <img src="{% static 'assets/images/about/zzads.jpg.png' %}" alt="about" />
          </div>
          <!-- about image -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
    <!-- <div class="about-shape-1">
      <img src="assets/images/about/about-shape-1.svg" alt="shape" />
    </div> -->
  </div>
  <!--====== ABOUT PART ENDS ======-->
 
<div class="about-area pt-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div
          class="about-content mt-50 wow fadeInLeftBig"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <div class="section-title">
            <div class="line"></div>
            <h3 class="title">
              <span>(A.J.A-TOGO)</span> , NOS objectifs
            </h3>
          </div>
          <!-- section title -->
          <p class="text">
            Objectifs :
            (1). Promouvoir l'accès à la justice pour tous, en particulier les populations vulnérables, en identifiant et en résolvant les problèmes liés à l'accès à la justice ;
            (2). Sensibiliser les populations vulnérables sur leurs droits et obligations ;
            (3). Renforcer les capacités des acteurs du système judiciaire dans la protection des droits et intérêts des populations vulnérables ;
            (4). Favoriser une culture de la justice participative, de médiation et de règlement alternatif des conflits ;
            (6). Contribuer à la promotion de l’Etat de droit au Togo et dans la sous-région. 
            
            
            Principes :
            AJA-Togo promeut les principes de non-discrimination, de transparence, de responsabilité et d'équité. L'association est apolitique et respecte la diversité culturelle et religieuse.
          </p>
          <!-- <a href="javascript:void(0)" class="main-btn">Try it Free</a> -->
        </div>
        <!-- about content -->
      </div>
      <div class="col-lg-6">
        <div
          class="about-image text-center mt-50 wow fadeInRightBig"
          data-wow-duration="1s"
          data-wow-delay="0.5s" 
        >
          <img src="{% static 'assets/images/about/zzads.jpg.png' %}" alt="about" />
        </div>
        <!-- about image -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
  <!-- <div class="about-shape-1">
    <img src="assets/images/about/about-shape-1.svg" alt="shape" />
  </div> -->
</div>
<!--====== ABOUT PART ENDS ======-->
 <!--====== ABOUT PART ENDS ======-->
 
 <div class="about-area pt-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div
          class="about-content mt-50 wow fadeInLeftBig"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <div class="section-title">
            <div class="line"></div>
            <h3 class="title">
              <span>(A.J.A-TOGO)</span> , NOS Activités
            </h3>
          </div>
          <!-- section title -->
          <p class="text">
            Activités :
            1. Assistance judiciaire, conseil juridique et représentation des populations vulnérables en justice ;
            2. Sensibilisation et formation des populations vulnérables sur leurs droits et obligations ;
            3. Renforcement des capacités des acteurs du système judiciaire par la formation continue, le partage de bonnes pratiques et la promotion de l'échange d'expériences ;
            4. Organisation de mécanismes de règlement des conflits alternatifs tels que la médiation et la conciliation ;
            5. Organisation de campagnes de plaidoyer pour la promotion de l'Etat de droit, la protection des droits des populations vulnérables et la lutte contre les violences basées sur le genre.
            
            
            Principes :
            AJA-Togo promeut les principes de non-discrimination, de transparence, de responsabilité et d'équité. L'association est apolitique et respecte la diversité culturelle et religieuse.
          </p>
          <!-- <a href="javascript:void(0)" class="main-btn">Try it Free</a> -->
        </div>
        <!-- about content -->
      </div>
      <div class="col-lg-6">
        <div
          class="about-image text-center mt-50 wow fadeInRightBig"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <img src="{% static 'assets/images/about/zzads.jpg.png' %}" alt="about" />
        </div>
        <!-- about image -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
  <!-- <div class="about-shape-1">
    <img src="assets/images/about/about-shape-1.svg" alt="shape" />
  </div> -->
</div>
<!--====== ABOUT PART ENDS ======-->
<!--====== ABOUT PART START ======-->
<div class="about-area pt-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div
          class="about-content mt-50 wow fadeInLeftBig"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <div class="section-title">
            <div class="line"></div>
            <h3 class="title">
              <span>(A.J.A-TOGO)</span> , QUI SOMMES-NOUS ?
            </h3>
          </div>
          <!-- section title -->
          <p class="text">
            L'Association Justice Accessible est une organisation à but non lucratif basée au Togo, qui vise à faciliter l'accès à la justice pour tous les citoyens togolais, en particulier les plus vulnérables et les plus marginalisés de la société.

            Fondée en 2016, l'Association Justice Accessible offre une gamme de services juridiques, y compris des conseils juridiques gratuits, des représentations juridiques, et des formations pour les avocats et les défenseurs des droits de l'homme sur les lois togolaises ainsi que les normes et pratiques internationales de droits de l'homme.
            
            L'organisation travaille en étroite collaboration avec d'autres organisations de la société civile, les organisations de droits de l'homme, et les institutions gouvernementales pour promouvoir l'égalité devant la loi, la protection des droits de l'homme et la responsabilité de l'État.
            
            En outre, l'Association Justice Accessible lutte contre la discrimination fondée sur le genre, l'origine ethnique, la religion, l'orientation sexuelle, et le statut socio-économique en offrant des services de conseils juridiques et de représentation aux personnes qui sont victimes de ces formes de discrimination.
            
          </p>
          <!-- <a href="javascript:void(0)" class="main-btn">Try it Free</a> -->
        </div>
        <!-- about content -->
      </div>
      <div class="col-lg-6">
        <div
          class="about-image text-center mt-50 wow fadeInRightBig"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <img src="{% static 'assets/images/about/zzads.jpg.png' %}" alt="about" />
        </div>
        <!-- about image -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
  <!-- <div class="about-shape-1">
    <img src="assets/images/about/about-shape-1.svg" alt="shape" />
  </div> -->
</div>


  {% endblock %}