{% extends "accueil.html" %}
{% block content %}
{% load static %}
    <!-- ====== FOOTER PART START ====== -->
    <div class="container">
        <footer id="footer" class="footer-area pt-120">
        <div
          class="subscribe-area wow fadeIn"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <div class="row">
            <div class="col-lg-6">
              <div class="subscribe-content mt-45">
                <h2>LISTE DES MEMBRES DU CONSEIL D'ADMINISTRATION</h2>

                </div>
                
              </div>
            </div> 
            
            <div class="col-lg-6">
              <!-- <div class="subscribe-form mt-50">
                 <form action="#">
                  <input type="text" placeholder="Enter eamil" />
                  <button class="main-btn">Subscribe</button>
                </form> -->
              <!-- </div> --> 
            </div> 
          </div>
          <!-- row -->
        </div>
    


              <!-- footer about -->
            
            <!-- <div class="col-lg-5 col-md-7 col-sm-12">
              <div class="footer-link d-flex mt-50 justify-content-sm-between">
                <div
                  class="link-wrapper wow fadeIn"
                  data-wow-duration="1s"
                  data-wow-delay="0.4s"
                >
                  <div class="footer-title">
                    <h4 class="title">Quick Link</h4>
                  </div>
                  <ul class="link">
                    <li><a href="javascript:void(0)">Road Map</a></li>
                    <li><a href="javascript:void(0)">Privacy Policy</a></li>
                    <li><a href="javascript:void(0)">Refund Policy</a></li>
                    <li><a href="javascript:void(0)">Terms of Service</a></li>
                    <li><a href="javascript:void(0)">Pricing</a></li>
                  </ul>
                </div>
                <!footer wrapper
               
            <div class="col-lg-3 col-md-5 col-sm-12">
              <div
                class="footer-contact mt-50 wow fadeIn"
                data-wow-duration="1s"
                data-wow-delay="0.8s"
              >
                <div class="footer-title">
                  <h4 class="title">Contact Us</h4>
                </div>
               
            </div>
          </div>
          <!-- row -->
        </div>
        
        <!-- <div class="footer-copyright">
          <div class="row">
            <div class="col-lg-12">
              <div class="copyright d-sm-flex justify-content-between">
                <div class="copyright-content">
                  <p class="text">
                    Designed and Developed by
                    <a href="https://togotulawo.com" rel="nofollow">Togotulawo</a>
                  </p>
                </div>
             
    ====== FOOTER PART ENDS ====== --> 
    
   <div class="tableau" align="center">


    <div class="label"><h1> 
      
    </h1>
    </div>


    <body>
        
        <table class="stle">
                        
                       
            <thead>
                <tr>
                    <th> Noms & prénom </th>
                    <th> Fonction occupée </th>
                    <th> Profession </th>
                    <th> Nationalité  </th>
                </tr>
            
            </thead>
            <tbody>
                <tr>
                    <td><h4> TETENA  Adounon Esther </h4> </td>
                    <td><h4>PRESIDENTE</h4></td>
                    <td><h4>Assistante administrative</h4></td>
                    <td><h4>TOGOLAISE</h4></td>
    
                </tr>
                <tr>
                    <td><h4> TOIH Essotessam Lucien </h4></td>
                    <td><h4> Secretaire General </h4></td>
                    <td><h4> Sociologue </h4></td>
                    <td><h4> TOGOLAISE </h4></td>
    
                </tr>
                <tr>
                    <td><h4> Mme ATEBORE Mariama </h4></td>
                    <td><h4> Tresoriere Generale </h4></td>
                    <td><h4> Secretaire </h4></td>
                    <td><h4> TOGOLAISE </h4></td>
    
                </tr>
                <tr>
                    <td><h4> DEWANOU Hoale </h4></td>
                    <td><h4> 1ère Conseillere </h4></td>
                    <td><h4> Gestionnaire </h4></td>
                    <td><h4> TOGOLAISE </h4></td>
    
                </tr>
                <tr>
                    <td><h4> LEGANASSE Kalonda Gaallé Bikliwé </h4></td>
                    <td><h4> 2ème Conseiller </h4></td>
                    <td><h4> Etrepreneur agricole </h4></td>
                    <td><h4> TOGOLAISE </h4></td>
    
                </tr>
            </tbody>
        </table>
    
    </body>
  </div>
    

    <!--====== SERVICES PART START ======-->
    <section id="features" class="services-area pt-120">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="section-title text-center pb-40">
              <div class="line m-auto"></div>
              <h3 class="title">
                Clean and simple design,
                <span> Comes with everything you need to get started!</span>
              </h3>
            </div>
            <!-- section title -->
          </div>
        </div>
        <!-- row -->
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-7 col-sm-8">
            <div
              class="single-services text-center mt-30 wow fadeIn"
              data-wow-duration="1s"
              data-wow-delay="0.2s"
            >
              <div class="services-icon">
                <img
                  class="shape"
                  src="{% static 'assets/images/services/' %}"
                  alt="shape"
                />
                <img
                  class="shape-1"
                  src="{% static 'assets/images/services/sdsd.jpg' %}"
                  alt="shape"
                />
                <i class="lni lni-baloon"> </i>
              </div>
              <div class="services-content mt-30">
                <h4 class="services-title">
                  <a href="javascript:void(0)">Clean</a>
                </h4>
                <p class="text">
                  Lorem ipsum dolor sit amet,consetetur sadipscing elitr,
                  seddiam nonu eirmod tempor invidunt labore.
                </p>
                <a class="more" href="{% url 'service1' %}"
                  >Plus de détail <i class="lni lni-chevron-right"> </i>
                </a>
              </div>
            </div>
            <!-- single services -->
          </div>
          <div class="col-lg-4 col-md-7 col-sm-8">
            <div
              class="single-services text-center mt-30 wow fadeIn"
              data-wow-duration="1s"
              data-wow-delay="0.5s"
            >
              <div class="services-icon">
                <img
                  class="shape"
                  src="{% static 'assets/images/services/zzads.jpg.png' %}"
                  alt="shape"
                />
                <!-- <img
                  class="shape-1"
                  src="{% static 'assets/images/services/zzads.jpg.png' %}"
                  alt="shape"
                /> -->
                <i class="lni lni-cog"> </i>
              </div>
              <div class="services-content mt-30">
                <h4 class="services-title">
                  <a href="javascript:void(0)">Robust</a>
                </h4>
                <p class="text">
                  Lorem ipsum dolor sit amet,consetetur sadipscing elitr,
                  seddiam nonu eirmod tempor invidunt labore.
                </p>
                <a class="more" href="{% url 'service2' %}"
                  >Plus de détail <i class="lni lni-chevron-right"> </i>
                </a>
              </div>
            </div>
            <!-- single services -->
          </div>
          <div class="col-lg-4 col-md-7 col-sm-8">
            <div
              class="single-services text-center mt-30 wow fadeIn"
              data-wow-duration="1s"
              data-wow-delay="0.8s"
            >
              <div class="services-icon">
                <img
                  class="shape"
                  src="{% static 'assets/images/services/zzads.jpg.png' %}"
                  alt="shape"
                />
                <!-- <img
                  class="shape-1"
                  src="{% static 'assets/images/services/azgds.jpg.png' %}"
                  alt="shape"
                /> -->
                <i class="lni lni-bolt-alt"> </i>
              </div>
              <div class="services-content mt-30">
                <h4 class="services-title">
                  <a href="javascript:void(0)">Powerful</a>
                </h4>
                <p class="text">
                  Lorem ipsum dolor sit amet,consetetur sadipscing elitr,
                  seddiam nonu eirmod tempor invidunt labore.
                </p>
                <a class="more" href="{% url 'service3' %}"
                  >Plus de détail <i class="lni lni-chevron-right"> </i>
                </a>
              </div>
            </div>
            <!-- single services -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>
    <!--====== SERVICES PART ENDS ======-->
    
    

{% endblock %}